<mat-card class="statistic-card">
  <mat-card-content>
    <div class="statistic-header">
      <span class="statistic-icon">{{ statistic().icon }}</span>
      <span class="statistic-title">{{ statistic().title }}</span>
    </div>
    <div class="statistic-value">{{ statistic().value }}</div>
    <div class="statistic-change" [class]="statistic().changeType">
      <span class="change-value">{{ +(statistic().change) > 0 ? statistic().change : '' }}</span>
      <span class="change-label">{{ statistic().changeLabel }}</span>
    </div>
  </mat-card-content>
</mat-card>
