:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &.sidenav-open {
    left: var(--sidenav-width);
  }
  border-bottom: 1px solid var(--color-light-grey);

  mat-toolbar {
  display: flex;
  justify-content: space-between;

   .user-avatar {
    background-color: var(--color-primary);
   }
  }
}

.page-title {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 0;
}
