:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &.sidenav-open {
    left: var(--sidenav-width);
  }
  border-bottom: 1px solid var(--color-light-grey);

  mat-toolbar {
  display: flex;
  justify-content: space-between;
  }

  // .search-bar-container {
  //   .search-field {
  //     width: 20rem;
  //     font-size: 0.9rem;

  //     .mat-icon {
  //       color: var(--color-neutral);
  //     }
  //   }
  //   margin: 0 auto;

  //   .search-field {
  //     --mdc-outlined-text-field-container-shape: 8px;

  //     ::ng-deep .mat-mdc-text-field-wrapper {
  //       height: 40px;
  //     }

  //     ::ng-deep .mat-mdc-form-field-flex {
  //       height: 40px;
  //       align-items: center;
  //     }

  //     ::ng-deep .mdc-notched-outline__notch {
  //       border-top: none;
  //     }
  //   }
  // }

  @media screen and (max-width: 576px) {
    mat-toolbar {
      flex-wrap: wrap;
      height: auto;
      gap: 1rem;
      padding: 1rem;

      .search-field {
        max-width: 90%;
      }
    }
  }
}

.page-title {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 0;
}
