<mat-nav-list>
  <a routerLink="/" class="logo-area">
    <div class="logo-sq">
      <img width="100%" src="icons/logo-main.png" alt="Logo">
    </div>
    <!-- <span class="logo-name">Boardly</span> -->
  </a>
  <div class="nav-items">
    <a class="nav-item" mat-list-item routerLink="/board" routerLinkActive="active-nav-item"
      [routerLinkActiveOptions]="{ exact: true }" (click)="layout.isMobile() && layout.close()">
      <mat-icon class="nav-icon">dashboard</mat-icon>
      Board
    </a>
    <mat-divider class="mt-2 mb-2"></mat-divider>
    <a class="nav-item" mat-list-item routerLink="/team" routerLinkActive="active-nav-item"
      [routerLinkActiveOptions]="{ exact: true }" (click)="layout.isMobile() && layout.close()">
      <mat-icon class="nav-icon">group</mat-icon>
      My Team
    </a>
    <a class="nav-item" mat-list-item routerLink="/users" routerLinkActive="active-nav-item"
      [routerLinkActiveOptions]="{ exact: true }" (click)="layout.isMobile() && layout.close()">
      <mat-icon class="nav-icon">person</mat-icon>
      People
    </a>
    <a class="nav-item" mat-list-item routerLink="/transfer-requests" routerLinkActive="active-nav-item"
      [routerLinkActiveOptions]="{ exact: true }" (click)="layout.isMobile() && layout.close()">
      <mat-icon class="nav-icon">swap_horiz</mat-icon>
      Transfer Requests
    </a>
    <mat-divider class="mt-2 mb-2"></mat-divider>
    <a class="nav-item" mat-list-item routerLink="/analytics" routerLinkActive="active-nav-item"
      [routerLinkActiveOptions]="{ exact: true }" (click)="layout.isMobile() && layout.close()">
      <mat-icon class="nav-icon">show_chart</mat-icon>
      Analytics
    </a>
  </div>


  @if(authService.currentUser()?.role === 'TEAM_LEAD') {
  <div class="sidebar-footer">
    <button (click)="openAddBoardDialog()" class="m-4 btn-primary full-width">
      <span class="d-flex align-items-center justify-content-center">
        <mat-icon class="d-flex align-items-center justify-content-center">add</mat-icon>
        New Board
      </span>
    </button>
  </div>
  }

</mat-nav-list>