:host {
  .nav-item {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    border: none;
    &.active-nav-item {
      background: var(--mat-sys-primary-container) !important;
      color: var(--mat-sys-on-primary-container) !important;
    }

    mat-icon {
      font-size: 1.1rem;
    }
  }
}
