<div class="header d-flex justify-content-between align-items-center mb-5">
    <p class="hint">Gain insights into your project performance and team productivity</p>

    @if (boardsService.activeBoard()) {
    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="filter-select">
      <mat-select [value]="boardsService.activeBoard()?._id" (selectionChange)="onBoardChange($event.value)" placeholder="Board"
        hideSingleSelectionIndicator="true">
        @for (board of boardsService.boards(); track board._id) {
        <mat-option [value]="board._id">
          <span>{{ board.name }}</span>
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</div>

<app-statistics-list [statistics]="analyticsService.analytics().statistics" [isLoading]="analyticsService.isLoading()"></app-statistics-list>

<div class="divider"></div>

<!-- This Row will include a Bar Chart (Tasks by Status and Priority) and a Completion Rate section -->
<div class="row">
  <div class="bar-chart-container col">
    <div class="col-header d-flex justify-content-between align-items-center">
      <div class="col-title">Tasks by Status and Priority</div>
      <div class="col-hint">Per active board</div>
    </div>
    <!-- Bar Chart will be rendered here -->
    <app-tasks-bar-chart [statusChartData]="analyticsService.analytics().statusChartData" [totalTasks]="analyticsService.analytics().totalTasks"></app-tasks-bar-chart>
  </div>
  <div class="completion-rate-container col">
    <div class="col-header d-flex justify-content-between align-items-center">
      <div class="col-title">Completion Rate</div>
      <div class="col-hint">Per active board</div>
    </div>
    <app-completion-rate [completionRateData]="analyticsService.analytics().completionRateData"  [totalTasks]="analyticsService.analytics().totalTasks"></app-completion-rate>

  </div>
</div>

<!-- This row will include 3 columns: a Doughnut chart for priority Breakdown (tasks by priority), a section for Tasks per member, and a section for Recent Activity -->
<div class="row three-cols">
  <div class="doughnut-chart-container col">
    <div class="col-header d-flex justify-content-between align-items-center">
      <div class="col-title">Priority Breakdown</div>
      <div class="col-hint">Per active board</div>
    </div>

    <app-tasks-doughnut-chart [priorityBreakdownChartData]="analyticsService.analytics().priorityBreakdownChartData" [totalTasks]="analyticsService.analytics().totalTasks"></app-tasks-doughnut-chart>
  </div>
  <div class="tasks-per-member-container col">

    <div class="col-header d-flex justify-content-between align-items-center">
      <div class="col-title">Tasks per Member</div>
      <div class="col-hint">Per active board</div>
    </div>
    <app-tasks-per-member [members]="analyticsService.analytics().tasksPerMember" [totalTasks]="analyticsService.analytics().totalTasks"></app-tasks-per-member>
  </div>
  <div class="recent-activity-container col">
    <div class="col-header d-flex justify-content-between align-items-center">
    <div class="col-title">Recent Activity <div style="color: var(--color-neutral); margin-bottom: 0;">Stay tuned</div></div>
      <div class="col-hint">Per active board</div>
    </div>
       

    <!-- Recent Activity content will be rendered here -->
    <app-analytics-card-placeholder></app-analytics-card-placeholder>
  </div>
</div>