<div mat-dialog-title class="dialog-title">
  <span>Edit {{ task()?.referenceId }}</span>
  <button mat-icon-button (click)="onFormCancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  @if (isLoading()) {
  <div class="loading-state">
    <div class="spinner"></div>
    <p>Loading task...</p>
  </div>
  } @else if (task()) {
  @if (isSubmitting()) {
  <div class="loading-overlay">
    <div class="spinner"></div>
    <p>Updating task...</p>
  </div>
  }

  <app-task-form [task]="task()!" [submitButtonText]="'Update Task'" (formSubmit)="onFormSubmit($event)"
    (formCancel)="onFormCancel()"></app-task-form>
  }
</mat-dialog-content>