<div mat-dialog-title class="dialog-title">
  <span>New Task</span>
  <button mat-icon-button (click)="onFormCancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  @if (isSubmitting()) {
    <div class="loading-overlay">
      <div class="spinner"></div>
      <p>Creating task...</p>
    </div>
  }

  <app-task-form
    [submitButtonText]="'Create Task'"
    (formSubmit)="onFormSubmit($event)"
    (formCancel)="onFormCancel()"
  ></app-task-form>
</mat-dialog-content>
