<div class="profile-page">
  <div class="profile-card">
    <div class="avatar-wrapper">
      <div class="user-avatar profile-avatar">
        <img [src]="authService.currentUser()?.avatarUrl" alt="Profile avatar" />
      </div>
    </div>

    <!-- <h2 class="user-name">{{ authService.currentUser()?.name }}</h2> -->
<div class="user-name">
      <mat-form-field subscriptSizing="dynamic" appearance="outline" class="profile-name-field editable-text" >
        <input matInput [value]="authService.currentUser()?.name" (blur)="updateMyName($event.target.value); nameEditable = false" [disabled]="!nameEditable" />             
      </mat-form-field>
      
      <button (click)="nameEditable = !nameEditable" class="edit-btn btn-primary-icon">
          @if(nameEditable) {
          <img width="16px" height="16px" src="icons/edit-filled.svg" alt="Edit">
          }@else {
          <img width="16px" height="16px" src="icons/edit.svg" alt="Edit">
          }
        </button>
</div> 

    <mat-divider />

    <div class="info-section">
       <!-- Id -->
      <div class="info-row">
        <mat-icon>fingerprint</mat-icon>
        <span class="user-id">{{ authService.currentUser()?._id }}</span>
        <button class="copy-btn" mat-icon-button (click)="copyId()">
          <mat-icon>{{ copied ? 'check' : 'content_copy' }}</mat-icon>
        </button>
      </div>
      <!-- Email -->
      <div class="info-row">
        <mat-icon>mail_outline</mat-icon>
        <span>{{ authService.currentUser()?.email }}</span>
      </div>
      <!-- Role -->
      <div class="info-row">
        <mat-icon>shield_outline</mat-icon>
        <span>{{ authService.currentUser()?.role === 'TEAM_LEAD' ? 'Team Lead' : 'Team Member' }}</span>
      </div>
      <!-- Managed By -->
      <div class="info-row">
        <mat-icon>supervisor_account</mat-icon>
        <span> <strong>Reports to: </strong> {{ authService.currentUser()?.managedBy?.name || '-' }}</span>
      </div>
      <!-- Status -->
      <div class="info-row">
        <mat-icon>check_circle_outline</mat-icon>
        <span>{{ authService.currentUser()?.active ? 'Active' : 'Inactive' }}</span>
      </div>
  </div>
</div>
