<h1 class="title">Welcome back</h1>
<p class="subtitle">Sign in to your account</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="fields" novalidate>
  <div class="field">
    <label class="label mb-1" for="">Email</label>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput formControlName="email" type="email" placeholder="you@example.com" autocomplete="email" />
      <mat-error>{{ getFieldError('email') }}</mat-error>
    </mat-form-field>

  </div>

  <div class="field">
    <label class="label mb-1" for="">Password</label>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput formControlName="password" [type]="showPassword() ? 'text' : 'password'" placeholder="••••••••"
        autocomplete="current-password" />
      <button mat-icon-button matSuffix type="button" (click)="showPassword.set(!showPassword())"
        [attr.aria-label]="showPassword() ? 'Hide password' : 'Show password'" class="showHidePassword-btn">
        <mat-icon>{{ showPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error>{{ getFieldError('password') }}</mat-error>
    </mat-form-field>
  </div>

  <div class="spacer"></div>

  <button class="btn-primary submit-btn" type="submit" [disabled]="isSubmitting() || form.invalid"W>
    @if (isSubmitting()) {
    <mat-spinner diameter="18" />
    Signing in...
    } @else {
    Sign In
    }
  </button>
</form>