<div class="join-page">
  <div class="join-page-content">
      <div class="join-page__header">
    <a routerLink="/" class="logo-lockup">
      <div class="logo-icon">
        <img width="100%" src="icons/logo-main.png" alt="Logo">
      </div>
      <!-- <span class="logo-name">Boardly</span> -->
    </a>
    <p class="header-sub m-1">Organize your work, one task at a time</p>
  </div>

  <div class="join-page__cards">
    <app-login class="card" />
    <div class="join-page__divider">
      <span class="divider-label">or</span>
    </div>
    <app-register class="card" />
  </div>
  </div>


  <app-footer class="full-width"></app-footer>
</div>