<div class="list-page">
  @if (transferRequestsService.isLoading()) {
  <app-loading-spinner />
  } @else if(!transferRequestsService.transferRequests().length) {
  <div class="empty-state">
    <mat-icon class="empty-state-icon">group</mat-icon>
    <h2 class="empty-title">No Transfer Requests Yet</h2>
    @if(authService.currentUser()?.role === 'TEAM_LEAD') {
    <p class="empty-description">Need to ask for team members to get started?</p>
    <button class="btn btn-primary" (click)="openAddTransferRequest()">Request a Transfer</button>
    }
  </div>
  }@else {
  @if(authService.currentUser()?.role === 'TEAM_LEAD') {
  <div class="page-header mb-5">

    <div>
       <div class="title">
        Manage Your Resource Transfer Requests
      </div>
      <div class="description">
        Approve or reject incoming transfer requests, or cancel outgoing ones — keep track of all your transfer activities in one place.
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-between ">
    <div class="filter-group">
      <button class="btn btn-primary tab-btn" [class.active]="activeStatus() === null" (click)="setFilter(null)">
        All
      </button>
      <button disabled class="btn btn-primary tab-btn" [class.active]="activeStatus() === 'INCOMING'"
        (click)="setFilter('INCOMING')">
        Incoming
      </button>
      <button disabled class="btn btn-primary tab-btn" [class.active]="activeStatus() === 'OUTGOING'"
        (click)="setFilter('OUTGOING')">
        Outgoing
      </button>
      <button disabled class="btn btn-primary tab-btn" [class.active]="activeStatus() === 'RESOLVED'"
        (click)="setFilter('RESOLVED')">
        Resolved
      </button>
    </div>

    <button class="btn btn-primary" (click)="openAddTransferRequest()">
      <span class="d-flex align-items-center justify-content-center gap-1">
        <mat-icon class="d-flex align-items-center justify-content-center mx-2">person_add</mat-icon>
        Request a Transfer
      </span>
    </button>
  </div>
</div>
}


  <!-- Build a table -->
  <div class="table-container">
    <table class="list-table">
      <thead>
        <tr>
          <th>Member</th>
          <th>Transfer</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (request of transferRequestsService.transferRequests(); track request._id) {
        <tr>
          <td class="d-flex align-items-center gap-3">
            <div class="user-avatar lg"><img [src]="request?.member?.avatarUrl" alt=""></div>
            <div class="user-info">
              <div class="user-name d-flex align-items-center">
                {{ request?.member?.name }}
                @if (request._id === authService.currentUser()?._id) {
                <span class="me-badge d-flex align-items-center justify-content-center"></span>
                }
              </div>
              <span class="user-email">{{ request?.member?.email }}</span>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center gap-2">
              <div class="transfer-lead-badge">
                <div class="user-avatar sm"><img [src]="request?.fromLead?.avatarUrl" alt=""></div>
                {{ transferRequestsService.isItMe(request.fromLead._id) ? 'You' : request?.fromLead?.name }}
              </div>
              <mat-icon class="icon-color ">arrow_forward</mat-icon>
              <div class="transfer-lead-badge">
                <div class="user-avatar sm"><img [src]="request?.toLead?.avatarUrl" alt=""></div>
                {{ transferRequestsService.isItMe(request.toLead._id) ? 'You' : request?.toLead?.name }}
              </div>
            </div>
          </td>
          <td>
            <div class="status-column">
              <span class="status-badge {{request.status}}">{{ TRANSFER_REQUEST_STATUS_LABELS[request.status] }}</span>
            </div>

          </td>
          <td>

            <div class="actions d-flex align-items-center gap-3">
              @if(request.status === 'PENDING' && transferRequestsService.isItMe(request.fromLead._id)) {
              <button class="action-btn positive" mat-icon-button (click)="approveRequest(request._id)"
                [matTooltip]="'Approve'">
                <mat-icon class="icon-size-1">check</mat-icon>
              </button>
              <button class="action-btn negative" mat-icon-button (click)="rejectRequest(request._id)"
                [matTooltip]="'Reject'">
                <mat-icon class="icon-size-1">close</mat-icon>
              </button>
              }@else if(request.status === 'PENDING' && transferRequestsService.isItMe(request.toLead._id)) {
              <button class="action-btn negative" mat-icon-button (click)="cancelRequest(request._id)"
                [matTooltip]="'Cancel'">
                <mat-icon class="icon-size-1">remove</mat-icon>
              </button>
              }
            </div>

          </td>

        </tr>
        }
      </tbody>
    </table>
  </div>
  @if(transferRequestsService.meta() && transferRequestsService.meta()!.totalPages > 1) {
  <app-pagination [meta]="transferRequestsService.meta()" (pageChange)="onPageChange($event)" />
  }
  }
</div>