button.selected {
  background-color: #fef1e8;
  --mat-menu-item-hover-state-layer-color: var(--color-primary-active);
  --mat-menu-item-active-state-layer-color: var(--color-primary-active);
  --mat-menu-item-focus-state-layer-color: var(--color-primary-active);
}

.matMenu-btn {
  // limit menu item width to prevent overflow
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}