<mat-card class="statistic-card" [class]="statistic().type">
  <mat-card-content>
    <div class="statistic-header">
      <i class="statistic-icon " [class]="statistic().type !== 'total' ? ('dot ' + statistic().type) : 'show_chart'"></i>
      <span class="statistic-title">{{ statistic().title }}</span>
    </div>
    <div class="statistic-value">{{ statistic().value }}</div>
    <div class="statistic-change">
      @if(statistic().changeSinceYesterday !== null) {
        @if(statistic().changeSinceYesterday > 0) {
          <mat-icon class="change-icon positive">arrow_upward</mat-icon>
          <span class="change-value positive"> {{'+' + statistic().changeSinceYesterday + ' Since yesterday'  }}</span>
        } @else {
          <!-- <mat-icon class="change-icon neutral"></mat-icon> -->
          <span class="change-value neutral"> {{  statistic().changeSinceYesterday + ' Since yesterday' }}</span>
        }
      }@else {
        <i style="font-size: 0.6rem; color: var(--color-neutral)">(Not implemented yet)</i>
      }
    </div>
  </mat-card-content>
</mat-card>
