.statistic-card {
  border-radius: var(--radius-lg);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: var(--color-primary-contrast);
  border: 1px solid var(--color-light-grey);
  padding: 0 1rem;

  .statistic-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .statistic-title {
      font-size: 0.8125rem;
      color: var(--color-neutral);
    }
  }

  .statistic-value {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
  }

  .statistic-change {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    font-size: 0.7rem;

    .change-icon {
      font-size: 1rem;
      width: 1rem;
      height: 1rem;
    }
  }


  border-top-width: 0.3rem;

  &.overdue {
    border-top: 0.3rem solid var(--color-danger);
  }

  &.in-progress {
    border-top: 0.3rem solid var(--color-info);
  }

  &.completed {
    border-top: 0.3rem solid var(--color-success);
  }
}

.show_chart::before {
  font-family: 'Material Icons';
  /* Or 'Material Icons Outlined' */
  content: 'show_chart';
  /* Use the icon name as a ligature */
  font-feature-settings: 'liga';
  display: inline-block;
  vertical-align: middle;
  color: var(--color-neutral);
}