:root {
  --color-primary: #ec9f76;
  --color-primary-contrast: #ffffff;
  --color-body-bg: #faf6f0;
  --color-primary-active: #fef0e8;
  --color-primary-hover: #fdf6f0;
  --color-secondary-hover: #fad4bb;
  --color-dark: #212121;
  --color-light-grey: #ede5d8;
  --color-danger: #d32f2f;
  --color-success: #388e3c;
  --color-warning: #f57c00;
  --color-neutral: #757575;
  --color-info: #1976d2;
  --color-inactive: #fbfbfb;
  --color-badge-risk: #ffebee;
  --color-badge-warning: #fff3e0;

  --radius-lg: 8px;
  --radius-md: 4px;
  --radius-xl: 12px;

  --mat-toolbar-standard-height: 45px;
  --sidenav-width: 190px;
  --mat-list-list-item-one-line-container-height: 35px;
}
