:root {
  --color-primary: #e3783e;
  --color-primary-hover: #ea580c;
  --color-primary-light: #fad4bb;
  --color-primary-contrast: #ffffff;
  --color-body-bg: #faf6f0;
  --color-primary-active: #fef0e8;
  --color-primary-active-rgba: rgba(227, 120, 62, 0.1);
  --color-dark: #212121;
  --color-light-grey: #ede5d8;
  --color-danger: #991b1b;
  --color-danger-light: #ffebee;
  --color-success: #065f46;
  --color-success-light: #d1fae5;
  --color-warning: #92400e;
  --color-warning-light: #fee2e2;
  --color-neutral: #757575;
  --color-info: #1976d2;
  --color-info-light: #e3f2fd;
  --color-inactive: #fbfbfb;
  --color-badge-risk: #ffebee;  
  --color-badge-warning: #fff3e0;
  --radius-lg: 8px;
  --radius-md: 4px;
  --radius-xl: 12px;
  --mat-toolbar-standard-height: 45px;
  --footer-height: 55px;
  --sidenav-width: 190px;
  --menu-item-color-hover: #fdf6f0;
  --mat-list-list-item-one-line-container-height: 35px;
}
