:host {
  .doughnutChart-container {
        height: 90%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // canvas {
  //   width: 200px !important;
  //   height: 200px !important;
  // }
  canvas {
    max-width: 100% !important;
  }
}