:host {
  .board {
    .board-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      .board-name {
        font-weight: 700;
        color: var(--color-neutral);
        // position: absolute;
        // left: 50%;
        // transform: translate(-50%);

        .board-name-field {
          font-size: 1rem;
          font-weight: 700;
          color: var(--color-neutral);

          .edit-icon{
            font-size: 1rem;
            width: 1rem;
            height: 1rem;
            color: var(--color-neutral);
          }
        }
      }

      @media screen and (max-width: 992px) {
        justify-content: space-between;
        .board-name {
          position: static;
          transform: none;
        }
       
      }

      .board-actions {
        .mat-mdc-select-panel { padding: 0;}
        .add-board-option {
          font-size: 0.875rem;
          font-weight: 600;
          background-color: var(--color-primary-active);
        }
      }
    }
  }
}

