<div class="board">
  @if (activeBoard()) {
  <div class="board-header">
    <div class="board-title d-flex align-items-center">
      <!-- Board name & Inline text field to edit the board name into one element -->
      <mat-form-field subscriptSizing="dynamic" appearance="outline" class="board-name-field editable-text">
        <input matInput [value]="activeBoard()?.name"
          (blur)="updateBoardName(activeBoard()?._id, $event.target.value, $event.target); boardNameFieldEnabled = false"
          [disabled]="authService.currentUser()?.role !== 'TEAM_LEAD'" (input)="adjustNameInputWidth($event.target.value)" #nameInput
          [disabled]="!boardNameFieldEnabled" />
      </mat-form-field>

      <!-- Fake Mirror element by the Boardname to dynamically adjust input width -->
      <span #mirror class="input-mirror"></span>

      @if(authService.currentUser()?.role === 'TEAM_LEAD' && boardsService.isBoardCreatedByCurrentUser(activeBoard())) {
        <span class="mine-badge" >
          <mat-icon class="icon-size-0-8">star</mat-icon>
          Mine
        </span>

      
        <button (click)="boardNameFieldEnabled = !boardNameFieldEnabled" class="edit-btn btn-primary-icon">
          @if(boardNameFieldEnabled) {
          <img width="16px" height="16px" src="icons/edit-filled.svg" alt="Edit">
          }@else {
          <img width="16px" height="16px" src="icons/edit.svg" alt="Edit">
          }
        </button>
      }

    </div>

    <div class="board-actions d-flex align-items-center">
      <mat-form-field appearance="outline" subscriptSizing="dynamic" class="filter-select">
        <mat-select [value]="activeBoard()?._id" (selectionChange)="onBoardChange($event.value)" placeholder="Board"
          hideSingleSelectionIndicator="true">
          @for (board of boards(); track board._id) {
          <mat-option [value]="board._id">
            <span>{{ board.name }}</span>
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if(authService.currentUser()?.role === 'TEAM_LEAD' && boardsService.isBoardCreatedByCurrentUser(activeBoard())) {
      <button mat-icon-button (click)="openAddBoardDialog()" class="btn-primary-icon add-board-btn">
        <mat-icon>add_circle</mat-icon>
      </button>

      <button mat-icon-button class="delete-btn btn-primary-icon error justify-content-center"
        (click)="deleteBoard(activeBoard()?._id, $event)">
        <mat-icon class="delete-icon">delete_circle</mat-icon>
      </button>

      }


    </div>
  </div>
  <app-board-tasks />
  }@else if(isLoading()) {
  <app-loading-spinner></app-loading-spinner>
  } @else {
  <div class="empty-state">
    <mat-icon class="empty-state-icon">dashboard</mat-icon>
    <h2>No boards yet</h2>
    @if (authService.currentUser()?.role === 'TEAM_LEAD') {
    <p>You don't have any boards yet. Create one to start managing your tasks.</p>
    <button mat-flat-button color="primary" (click)="openAddBoardDialog()">
      <mat-icon>add</mat-icon> Create your first board
    </button>
    } @else {
    <p>No tasks have been assigned to you so far.
      <br><br> Please check back later or contact your team lead for more information.
    </p>
    }
  </div>
  }
</div>