:host {
  .board {
    .board-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      gap: 0.5rem;

      .board-title {
        font-weight: 700;
        color: var(--color-neutral);
        gap: 1rem;
        width: 100%;
        flex: 5;
        .board-name-field {
          flex: 1;
          font-size: 1rem;
          font-weight: 700;
          color: var(--color-dark) !important;
          line-height: 1;

          .mat-mdc-notch-piece {
            background-color: transparent !important;
            border: none !important;
          }

          textarea{
            overflow: hidden;
          }
        }
      }

      .board-actions {
        flex: 1;
        .mat-mdc-select-panel {
          padding: 0;
        }

        .action-btn:hover {
          mat-icon {
            color: var(--color-primary) !important;
          }
        }
      }

      @media screen and (max-width: 992px) {
        justify-content: space-between;

        .board-name {
          position: static;
          transform: none;
        }
      }

   

      @media screen and (max-width: 500px) {
        gap: 0.5rem;
        // flex-wrap: wrap;

        .board-title {
          width: 100%;

          .board-name-field {
            width: 100%;
          }
        }

        .board-actions {
          width: 100%;
          justify-content: flex-end;

          .filter-select {
            width: 100%;
          }
        }

      }

      @media screen and (max-width: 450px) {
        padding: 0;

        ::ng-deep {
          .mat-mdc-form-field-flex {
            overflow: auto;
          }
        }
      }
    }
  }
}
