<div class="board">
  @if(isLoading()) {
  <app-loading-spinner></app-loading-spinner>
  }
  @else if(activeBoard()) {
  <div class="board-header">
    <div class="board-title d-flex align-items-center">
      <!-- Board name & Inline text field to edit the board name into one element -->

      <app-icon-select-field [options]="boards()" (onSelect)="onBoardChange($event)" [matIcon]="'dashboard'"
        [tooltip]="'Select Board'" [selectedOption]="activeBoard()" [bindLabel]="'name'"
        [bindValue]="'_id'"></app-icon-select-field>
      @if(authService.currentUser()?.role === 'TEAM_LEAD' && boardsService.isBoardCreatedByCurrentUser(activeBoard())) {
      <button (click)="enableEditBoardName()" class="edit-btn btn-primary-icon">
        @if(boardNameFieldEnabled) {
        <img width="16px" height="16px" src="icons/edit-filled.svg" alt="Edit">
        }@else {
        <img width="16px" height="16px" src="icons/edit.svg" alt="Edit">
        }
      </button>
      }
      <mat-form-field subscriptSizing="dynamic" appearance="outline" class="board-name-field editable-text">
          <textarea #boardNameInput matInput cdkTextareaAutosize cdkAutosizeMinRows="1" [value]="activeBoard()?.name"
          (blur)="updateBoardName(activeBoard()?._id, $any($event.target).value, $any($event.target)); boardNameFieldEnabled = false"
          [disabled]="authService.currentUser()?.role !== 'TEAM_LEAD' || !boardNameFieldEnabled"
         ></textarea>
      </mat-form-field>
    </div>

    <div class="board-actions d-flex align-items-center justify-content-end gap-3">
      @if(authService.currentUser()?.role === 'TEAM_LEAD' && boardsService.isBoardCreatedByCurrentUser(activeBoard())) {
      <button (click)="openAddBoardDialog()" class="action-btn" [matTooltip]="'New Board'">
        <mat-icon class="icon-size-1">add</mat-icon>
      </button>

      <button class="action-btn" [matTooltip]="'Delete Board'" (click)="deleteBoard(activeBoard()?._id, $event)">
        <mat-icon class="icon-size-1">remove</mat-icon>
      </button>
      }
    </div>
  </div>

  <mat-divider class="mb-3 pb-3"></mat-divider>
  <app-board-tasks />
  } @else {
  <div class="empty-state">
    <mat-icon class="empty-state-icon">dashboard</mat-icon>
    <h2>No boards yet</h2>
    @if (authService.currentUser()?.role === 'TEAM_LEAD') {
    <p>You don't have any boards yet. Create one to start managing your tasks.</p>
    <button mat-flat-button color="primary" (click)="openAddBoardDialog()">
      <mat-icon>add</mat-icon> Create your first board
    </button>
    } @else {
    <p>No tasks have been assigned to you so far.
      <br><br> Please check back later or contact your team lead for more information.
    </p>
    }
  </div>
  }
</div>